<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>com.internet.shop.controller.IndexController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allUsers</servlet-name>
        <servlet-class>com.internet.shop.controller.ShowAllUsersController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>allUsers</servlet-name>
        <url-pattern>/user/all</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>registration</servlet-name>
        <servlet-class>com.internet.shop.controller.RegistrationController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>injectData</servlet-name>
        <servlet-class>com.internet.shop.controller.InjectDataController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>injectData</servlet-name>
        <url-pattern>/injectData</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteUser</servlet-name>
        <servlet-class>com.internet.shop.controller.DeleteUserController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteUser</servlet-name>
        <url-pattern>/user/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allProducts</servlet-name>
        <servlet-class>com.internet.shop.controller.product.ShowAllProductsController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>allProducts</servlet-name>
        <url-pattern>/product/all</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addProduct</servlet-name>
        <servlet-class>com.internet.shop.controller.product.AddProductController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addProduct</servlet-name>
        <url-pattern>/product/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteProduct</servlet-name>
        <servlet-class>com.internet.shop.controller.product.DeleteProductController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteProduct</servlet-name>
        <url-pattern>/product/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>putIntoCart</servlet-name>
        <servlet-class>com.internet.shop.controller.cart.PutIntoCartController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>putIntoCart</servlet-name>
        <url-pattern>/cart/putProduct</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>showCart</servlet-name>
        <servlet-class>com.internet.shop.controller.cart.ShowCartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>showCart</servlet-name>
        <url-pattern>/cart/show</url-pattern>
    </servlet-mapping>
</web-app>
